{% extends "base.html" %}

{% block title %}
    Task List - Project Alpha
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if show_my_tasks|length == 0 %}
                <p>You have no tasks</p>
            {% else %}
                <table>
                    <head>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                        <tbody>
                            {% for task in show_my_tasks %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.start_date }}</td>
                                    <td>{{ task.due_date }}</td>
                                    <td>{{ task.is_completed|yesno }}</td>
                                    <!-- https://docs.djangoproject.com/en/4.1/ref/templates/builtins/#yesno -->
                                </tr>
                            {% endfor %}
                        </tbody>
                    </head>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
